<strong>
  Olá, {{deliverymanName}}
</strong>
<p>Uma encomenda foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>O pedido {{orderId}} foi cancelado, confira mais detalhes abaixo: </strong><br />
  <strong>Nome do produto: </strong>{{product}}<br />
  <strong>Motivo:</strong> {{reason}}<br />
  <strong>Nome do destinatário: </strong>{{name}}<br />
  <strong>Endereço do destinatário: </strong><br />
  <strong>Rua: </strong>{{street}}<br />
  <strong>Number: </strong>{{number}}<br />
  <strong>Cidade: </strong>{{city}}<br />
  <strong>Estado: </strong>{{state}}<br />
  <strong>CEP: </strong>{{zip_code}}<br />
  <strong>Complemento: </strong>{{adress_complement}}
</p>
