<strong>
  Olá, {{deliverymanName}}
</strong>
<p>Você tem uma nova encomenda, confira os detalhes abaixo:</p>
<p>
  O produto<strong> {{product}} </strong>strong> já está disponível para a retirada<br />
  <strong>Informações sobre a encomenda: </strong><br />
  <strong>Nome do destinatário:</strong>{{name}}<br />
  <strong>Endereço do destinatário:</strong><br />
  <strong>Rua:</strong>{{street}}<br />
  <strong>Number:</strong>{{number}}<br />
  <strong>Cidade:</strong>{{city}}<br />
  <strong>Estado:</strong>{{state}}<br />
  <strong>CEP:</strong>{{zipe_code}}<br />
  <strong>Complemento:</strong> {{adressComplement}}
</p>
